# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#Notion_db
/Notion_DB

docs/*.pdf

#Gaib images
/public/gaib/

.firebase/
.firebaserc
.github/
firebase-debug.log
functions/.runtimeconfig.json
functions/gcloud-speech-to-text.json
functions/lib/
functions/package-lock.json
functions/pnpm-lock.yaml
gcloud-speech-to-text.json
scripts/processedFiles.json
utils/processedFiles.json

yarn.lock
