.feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px double #FFC601;
}

.story {
  background-color: #000000;
  color: #ffffff;
  border: 2px double #FFC601;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  word-wrap: overflow-wrap;
  padding: 10px;
}

.story:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.storyTitle {
  display: block;
  background: #FFC601;
  padding: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border: 2px double #000000;
  border-radius: 10px;
}

.storyContent {
  word-wrap: break-word;
  padding: 1rem;
  align-items: center;
}

.storyImage {
  margin-top: 1rem;
  align-items: center;
}

.storyImage img {
  max-height: 800px;
  align-items: center;
}

.header {
  width: auto;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.header p {
  text-align: center;
}

.header a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.message {
  margin-top: 1rem;
  color: red;
  font-size: 28px;
}

.storyImage {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  max-height: 800px;
  align-items: center;
}


