.feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.feedSection {
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 1px;
  border: 2px double #000000;
}

.story {
  background-color: #000000;
  color: #f1ebeb;
  border: 4px double #008000;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  word-wrap: overflow-wrap;
  padding: 10px;
  margin: 10px;
}

.story:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.storyTitle {
  display: block;
  background: #FFC601;
  padding: 2px;
  font-size: 24px;
  border: 4px double #0C4B8E;
  border-radius: 6px;

  text-align: left;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.storyContent {
  word-wrap: break-word;
  padding: 2px;
  align-items: center;
}

.storyImage {
  margin-top: 2px;
  align-items: center;
}

.storyImage img {
  max-height: 400px;
  align-items: center;
}

.storyImageThumbnail {
  width: 100px; /* Adjust as needed */
  height: auto;
  border-radius: 10%; /* This makes the images rounded */
  overflow: hidden; /* This ensures the images stay within their rounded borders */
  object-fit: cover; /* This ensures the images cover the entire area of the div */
  padding: 2px;
}

.imageRow {
  display: flex; /* This makes the images align horizontally */
  overflow-x: auto; /* This allows horizontal scrolling if there are too many images */
  gap: 10px; /* This adds some space between the images */
  padding: 2px;
  margin: 2px;
}


.header {
  width: auto;
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.header p {
  text-align: center;
}

.header a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.footer {
  color: #ffffff;
  font-size: 12px;
  margin: 1rem;
  text-align: center;
  font-weight: 500;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.footer a {
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.footer a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.message {
  margin-top: 1rem;
  color: red;
  font-size: 28px;
}

.storyImage {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  max-height: 400px;
  align-items: center;
}


