.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FFC601;
  border-radius: 10px;
  border: 2px double #000;
  max-width: 1000px; /* limit width */
}

.cancelcontainer {
  /*position: relative; */
  background-color: black;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 12px; /* Adjust the padding to reduce the black area around the image */
}

.cloud {
  position: relative; /* Add this line */
  background-color: rgb(0, 0, 0, 1);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 4px; /* Adjust the padding to reduce the black area around the image */
  max-width: 1000px; /* limit width */
}

.fullScreenImage {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  object-fit: scale-up;
}

.generatedImage img {
  height: 600px; /* Set the height */
  width: auto; /* Set the width to auto to maintain aspect ratio */
  object-fit: contain; /* Image will scale to maintain aspect ratio */
  border-radius: 8px;
}

.generatedImage {
  position: relative; /* Add this to position the subtitle */
  overflow-y: scroll; /* Allows vertical scrolling */
  width: auto;
  height: 100%;
  min-height: 100%;
  object-fit: scale-up;
  border-radius: 8px;
  padding: 4px; /* Adjust the padding to reduce the black area around the image */
  max-height: 600px; /* Set maximum height */
}

.generatedTerminal {
  max-height: 600px;
  overflow-y: scroll; /* Allows vertical scrolling */
  width: 100%;
  height: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: scale-up;
  border-radius: 8px;
  padding: 4px; /* Adjust the padding to reduce the black area around the image */
}

.generatedTerminal img {
  height: 600px; /* Set the height */
  width: auto; /* Set the width to auto to maintain aspect ratio */
  object-fit: contain; /* Image will scale to maintain aspect ratio */
  border-radius: 8px;
}

.fullscreenButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-size: 14px;
  z-index: 10;
}

.fullscreenButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 4px;
  max-height: 100%; /* Set a maximum height */
  max-width: 1000px; /* Set a maximum width equal to the maximum height */
  object-fit: scale-up;
}

.fullScreenTerminal {
  overflow-y: scroll; /* Allows vertical scrolling */
  line-height: 1.2;
  white-space: pre-wrap !important;
  color: #e5f810;
  background: transparent;
  animation: fadein 0.5s;
  font-family: 'Trebuchet MS', monospace; /* Added font family */
  font-size: 48px;
  font-weight: bolder;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px; /* Adjust the padding to reduce the black area around the image */
  padding-top: 30px;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  text-shadow: -2px -2px 2px #006a0e, /* top left */ 2px -2px 2px #006a0e,
    /* top right */ -2px 2px 2px #006a0e, /* bottom left */ 3px 3px 3px #006a0e; /* bottom right */
}


.fullScreenSubtitle {
  position: absolute;
  white-space: pre-wrap !important;
  background: transparent;
  color: white;
  padding: 8px;
  bottom: 10%;
  left: 2%;
  font-size: 48px;
  text-align: center;
  border-width: 0px;
  font-weight: bolder;
  font-family: 'Trebuchet MS';
  /* Added font family */
  line-height: 1.2;
  margin: 2px;
  justify-content: bottom;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.subtitle {
  position: absolute;
  white-space: pre-wrap !important;
  background: transparent;
  color: white;
  padding: 8px;
  bottom: 10%;
  left: 2%;
  font-size: 24px;
  text-align: center;
  border-width: 0px;
  font-weight: bolder;
  font-family: 'Trebuchet MS';
  /* Added font family */
  line-height: 1.2;
  margin: 2px;
  justify-content: bottom;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.markdownanswer {
  overflow-y: scroll; /* Allows vertical scrolling */
  line-height: 1.2;
  white-space: pre-wrap !important;
  color: #e5f810;
  background: transparent;
  animation: fadein 0.5s;
  font-family: 'Trebuchet MS', monospace; /* Added font family */
  font-size: 20px;
  font-weight: 300;
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px; /* Adjust the padding to reduce the black area around the image */
  padding-top: 30px;
  max-height: 100%;
  overflow: auto;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.mainlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add any other existing styles for the .main class */
}

.header {
  width: auto;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.header p {
  text-align: center;
}

.readerHeader {
  word-wrap: break-word;
  white-space: pre-wrap !important;
  width: auto;
  text-align: left;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.readerHeader p {
  text-align: left;
}

.personalityTable {
  line-height: 1.2;
  white-space: pre-wrap !important;
  color: #e5f810;
  background: transparent;
  animation: fadein 0.5s;
  width: auto;
  text-align: left;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.personalityTable p {
  text-align: left;
}

.personalityTable pre {
  text-align: left;
}

.cloudform {
  position: relative;
  padding: 2px;
  max-width: 1000px; /* limit width */
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 2px 2px 2px 2px;
  width: 100%;
  max-width: 1000px; /* limit width */
  border-radius: 8px;
  border: 2px double #000000;
  color: #000000; /* Changed font color to yellow-green */
  background: #ffffff; /* Changed background color to a darker color */
  outline: none;
  font-family: 'Trebuchet MS', monospace; /* Added font family */
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textarea::placeholder {
  color: #6b7280;
}

.textareaConfig {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 2px 2px 2px 2px;
  width: 100%;
  max-width: 1000px; 
  border-radius: 8px;
  border: 2px double #000000;
  color: #000000; /* Changed font color to yellow-green */
  background: #f5f105; /* Changed background color to a darker color */
  outline: none;
  font-family: 'Trebuchet MS', monospace; /* Added font family */
}

.textareaConfig:disabled {
  opacity: 0.5;
}

.textareaConfig:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textareaConfig::placeholder {
  color: #6b7280;
}

.labelButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.labelButton {
  background-color: #0C4B8E;
  color: white;
  font-weight: bold;
  border: 2px double #000;
  border-radius: 8px;
  border-color: #ffffff;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 4px; /* Add this line to add space between buttons */
}

.transcriptcontainer {
  display: inline-block;
  position: center;
  margin-right: 8px;
  background-color: transparent;
  border: 1;
  border-radius: 8px;
  border-color: #000000;
  border-style: double;
}

.buttoncontainer {
  display: inline-block;
  margin-right: 8px;
  background-color: transparent;
  border: 1;
  border-radius: 8px;
  border-color: #000000;
  border-style: double;
}

.voicebutton {
  background-color: #0C4B8E;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.voicebutton:hover {
  background: rgb(12, 75, 142, 0.5);
  border-radius: 0.2rem;
}

.voicebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.generatebutton {
  background-color: #008000;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.generatebutton:hover {
  background: rgb(0, 128, 0, 0.5);
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.centeredSvg {
  vertical-align: middle;
}

.cancelsubbutton {
  background-color: #ffffff;
  border-color: rgb(0, 0, 0);
  border-style: double;
  border: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 4px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

.signoutbutton {
  color: #ffffff;
  font-size: 12px;
  margin: 1rem;
  text-align: center;
  font-weight: 500;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.stopvoicebutton {
  background-color: #C70025;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

.stopvoicebutton:hover {
  background: rgb(199, 0, 37, 0.5);
  border-radius: 0.2rem;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
  color: #C70025;
}

.svgicon {
  transform: rotate(90deg);
  width: 2em;
  height: 1.2em;
  fill: currentColor;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.listening {
  background-color: #008000; /* Change to your desired color */
  color: white; /* Change to your desired text color */
}

.footer {
  color: #ffffff;
  font-size: 12px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  font-weight: 500;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.footer a {
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.footer a:hover {
  text-decoration: underline;
  background: #008000;
  opacity: 0.8;
}

.header a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.dropdowncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2px;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  outline: none;
  padding: 2px 2px 2px 2px;
  font-size: 12px;
  color: #000000;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid #000000;
  max-width: 200px;
  font-weight: bold;
}

.dropdownContainer::after {
  content: '▼';
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.dropdowncontainer label {
  display: block;
  margin-bottom: 0.25rem;
}

.label {
  font-weight: 500;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 4px;
}

.label-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 8px;
}

.styles-dropdown {
  border: 1px solid #000;
  background-color: #fff;
  font-weight: bold;
  color: #000;
  appearance: none;
  padding: 2px;
  border-radius: 4x;
  font-size: 8px;
}

.select {
  border: 2px solid #000000;
  background-color: #fff;
  padding: 4px 4px 4px 4px;
  padding: 4px;
  font-size: 8px;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pexels-credit {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-size: 14px;
  z-index: 10;
}

.pexels-credit a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.pexels-credit a:hover {
  text-decoration: underline;
  background-color: #000000;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.serviceInfoContent {
  text-align: center;
}

.serviceInfoTable {
  width: 100%;
  max-width: 900px;
  text-align: left;
  border:rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 14px;
}

.emailInput {
  /* Add styles for email input */
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

.passwordInput {
  /* Add styles for password input */
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

.signInButton {
  /* Add styles for sign-in button */
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}

.feed {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.feedSection {
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 1px;
  border: 2px double #000000;
}

.story {
  background-color: #000000;
  color: #f1ebeb;
  border: 4px double #008000;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  word-wrap: overflow-wrap;
  padding: 10px;
  margin: 10px;
}

.story:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.readerStory {
  background-color: #000000;
  color: #f1ebeb;
  border: 4px double #008000;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  word-wrap: overflow-wrap;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 1000px;
  align-items: center;
}

.readerStory:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.storyTitle {
  display: block;
  background: #FFC601;
  padding: 2px;
  font-size: 24px;
  border: 4px double #0C4B8E;
  border-radius: 6px;

  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.storyContent {
  word-wrap: break-word;
  padding: 2px;
  align-items: center;
}

.storyImage {
  margin-top: 2px;
  align-items: center;
}

.storyImage img {
  max-height: 600px;
  align-items: center;
}

.storyImageThumbnail {
  width: 100px; /* Adjust as needed */
  height: auto;
  border-radius: 10%; /* This makes the images rounded */
  overflow: hidden; /* This ensures the images stay within their rounded borders */
  object-fit: cover; /* This ensures the images cover the entire area of the div */
  padding: 2px;
}

.storyTimestamp {
  font-size: 0.8em;
  color: #888;
  margin-top: 0.5em;
  text-align: right;
}

.imageRow {
  display: flex; /* This makes the images align horizontally */
  overflow-x: auto; /* This allows horizontal scrolling if there are too many images */
  gap: 10px; /* This adds some space between the images */
  padding: 2px;
  margin: 2px;
}

.message {
  margin-top: 1rem;
  color: red;
  font-size: 28px;
}

.storyImage {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  max-height: 600px;
  align-items: center;
}

/* story board individual page next/prev buttons */
.pageButton {
  font-size: 20px; /* increase the font size */
  font-weight: bold; /* make the font bold */
  color: #FFC601; /* change the font color to white */
  background-color: #000000; /* change the background color to black */
  border: none; /* remove the default button border */
  padding: 10px; /* add some padding */
  margin: 10px; /* add some margin */
}

.pageButton:hover {
  background-color: #777777; /* change the background color to grey when the button is hovered over */
  cursor: pointer; /* change the cursor to a pointer when the button is hovered over */
}

/* Mobile optimization */
@media (max-width: 300px) {
  .main {
    padding: 0.5rem;
    max-height: 60vh;
    max-width: fit-content;
  }

  .cloud {
    width: fit-content;
    height: fit-content;
  }
  .textarea {
    width: 22rem;
    color: #000000; /* Changed font color to yellow-green */
    background: #ffffff; /* Changed background color to a darker color */
    font-family: 'Trebuchet MS', monospace; /* Added font family */
  }
   .textareaConfig {
    width: 22rem;
    color: #000000; /* Changed font color to yellow-green */
    background: #979797; /* Changed background color to a darker color */
    font-family: 'Trebuchet MS', monospace; /* Added font family */
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}
