.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #FFCC33;
  border-radius: 10px;
  border: 2px double #000;
}

.mainTransparent {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 10px;
  border: none;
  width: auto;
}

.cancelcontainer {
  /*position: relative; */
  background-color: black;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 12px; /* Adjust the padding to reduce the black area around the image */
}

.cloud {
  position: relative; /* Add this line */
  background-color: rgb(0, 0, 0, 1);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 4px; /* Adjust the padding to reduce the black area around the image */
}

.fullScreenImage {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  object-fit: scale-up;
}

.generatedImage img {
  width: auto;
  height: 100%;
  object-fit: scale-up;
  border-radius: 8px;
}

.generatedImage {
  width: auto;
  height: 100%;
  min-height: 100%;
  object-fit: scale-up;
  border-radius: 8px;
  padding: 4px; /* Adjust the padding to reduce the black area around the image */
}
.fullscreenButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-size: 14px;
  z-index: 10;
}

.fullscreenButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px; /* Adjust the padding to reduce the black area around the image */
}

.mainlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add any other existing styles for the .main class */
}

.header {
  width: auto;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family:'Trebuchet MS';
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.header p {
  text-align: center;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 75vw;
  max-width: 800px; /* limit width to 800px */
  border-radius: 0.5rem;
  border: 2px solid #d9d9e3;
  color: #000000; /* Changed font color to yellow-green */
  background: #ffffff; /* Changed background color to a darker color */
  outline: none;
  font-family: 'Trebuchet MS', monospace; /* Added font family */
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textarea::placeholder {
  color: #6b7280;
}

.labelButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.labelButton {
  background-color: rgb(64, 24, 222);
  color: white;
  font-weight: bold;
  border: 2px double #000;
  border-radius: 8px;
  border-color: #ffffff;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 4px; /* Add this line to add space between buttons */
}

.labelButton:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}

.speakbutton {
  position: right;
  color: #ffffff;
  background: #000000;
  padding: 1rem;
  border-color: #ffa500;
  font-weight: bold;
  border-radius: 8px;
  border: double;
}

.transcriptcontainer {
  display: inline-block;
  position: center;
  margin-right: 8px;
  background-color: transparent;
  border: 1;
  border-radius: 8px;
  border-color: #000000;
  border-style: double;
}

.buttoncontainer {
  display: inline-block;
  margin-right: 8px;
  background-color: transparent;
  border: 1;
  border-radius: 8px;
  border-color: #000000;
  border-style: double;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color:rgb(12, 234, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border: #000000;
  border-style: double;
  border-width: 8px;
  border-radius: 8px;
  max-width: 800px;
  margin: 30px;
}

.popupContent {
  color: rgb(12, 234, 4);
  background-color:rgba(0, 0, 0, 1);
  padding: 8px 8px;
  border-radius: 4px;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
  border-style: double;
  border-width: 8px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 1);
  max-width: 800px;
  margin: 4px;
}

.preWrap {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(226, 234, 4);
  padding: 8px;
  border-radius: 4px;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
  border-style: double;
  border-width: 8px;
  border-radius: 8px;
  border-color: #1c8bfb;
  margin-top: 30px;
}

.copyButton {
  background-color: #000000; /* Change this to your desired button background color */
  border: none;
  color: rgb(255, 255, 255); /* Change this to your desired button text color */
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  align-self: bottom;
}

.documentIcon {
  margin-right: 4px;
}

.voicebutton {
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.generatebutton {
  background-color: #3ea125;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.centeredSvg {
  vertical-align: middle;
}

.cancelsubbutton {
  background-color: #ffffff;
  border-color: rgb(0, 0, 0);
  border-style: double;
  border: 2px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 4px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

.signoutbutton {
  color: #ffffff;
  font-size: 12px;
  margin: 1rem;
  text-align: center;
  font-weight: 500;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.stopvoicebutton {
  background-color: #ff4500;
  border: none;
  border-radius: 5px;
  color: rgb(232, 249, 0);
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

.stopvoicebutton:hover {
  background: #7f8a09;
  border-radius: 0.2rem;
}

.pausebutton {
  background-color: #e2f10e;
  border: none;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.pausebutton:hover {
  background: #7f8a09;
  border-radius: 0.2rem;
}

.clearbutton {
  background-color: #f1ae11;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.clearbutton:hover {
  background: #7f8a09;
  border-radius: 0.2rem;
}

.replaybutton {
  background-color: #f1ae11;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.replaybutton:hover {
  background: #7f8a09;
  border-radius: 0.2rem;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
  color: #ff0000; /* Changed font color to yellow-green */
}

.svgicon {
  transform: rotate(90deg);
  width: 2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #7f8a09;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.voicebutton:hover {
  background: #7f8a09;
  border-radius: 0.2rem;
}

.voicebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #ffffff;
  font-size: 12px;
  margin: 1rem;
  text-align: center;
  font-weight: 500;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.footer a {
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  font-family:'Trebuchet MS', monospace;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.listening {
  background-color: #4caf50; /* Change to your desired color */
  color: white; /* Change to your desired text color */
}

.footer a:hover {
  opacity: 0.8;
}

.fullScreenSubtitle {
  position: absolute;
  white-space: pre-wrap !important;
  background: transparent;
  color: white;
  padding: 0px;
  bottom: 12%;
  left: 2%;
  font-size: 48px;
  text-align: center;
  border-width: 0px;
  font-weight: bolder;
  font-family: 'Trebuchet MS';
  /* Added font family */
  line-height: 1.2;
  margin: 0px;
  justify-content: bottom;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.subtitle {
  position: absolute;
  white-space: pre-wrap !important;
  background: transparent;
  color: white;
  padding: 0px;
  bottom: 12%;
  left: 2%;
  font-size: 24px;
  text-align: center;
  border-width: 0px;
  font-weight: bolder;
  font-family: 'Trebuchet MS';
  /* Added font family */
  line-height: 1.2;
  margin: 0px;
  justify-content: bottom;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.subtitleBack {
  position: absolute;
  white-space: pre-wrap !important;
  background: rgb(0, 0, 0, 0.2);
  color: #f1ae11;
  padding: 0px;
  bottom: 12%;
  left: 2%;
  font-size: 48px;
  text-align: center;
  border-width: 0px;
  font-weight: bolder;
  font-family: 'Trebuchet MS';
  /* Added font family */
  line-height: 1.2;
  margin: 0px;
  justify-content: bottom;
  text-shadow: -2px -2px 2px #000000, /* top left */ 2px -2px 2px #000000,
    /* top right */ -2px 2px 2px #000000, /* bottom left */ 3px 3px 3px #000000; /* bottom right */
}

.dropdowncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1px;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  outline: none;
  padding: 1px 2px;
  font-size: 8px;
  color: #000000;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #000000;
  max-width: 120px;
  font-weight: 500;
}

.dropdownContainer::after {
  content: '▼';
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.dropdowncontainer label {
  display: block;
  margin-bottom: 0.25rem;
}

.label {
  font-weight: 500;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 4px;
}

.label-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 8px;
}

.styles-dropdown {
  border: 1px solid #000;
  background-color: #fff;
  font-weight: bold;
  color: #000;
  appearance: none;
  padding: 2px;
  border-radius: 2px;
  font-size: 8px;
}

.select {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 2px 4px;
  font-size: 8px;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pexels-credit {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-size: 14px;
  z-index: 10;
}

.pexels-credit a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.pexels-credit a:hover {
  text-decoration: underline;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.serviceInfoContent {
  text-align: center;
}

.serviceInfoTable {
  width: 100%;
  max-width: 900px;
  text-align: left;
  border:rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 14px;
}

/* Mobile optimization */
@media (max-width: 300px) {
  .main {
    padding: 0.5rem;
    max-height: 60vh;
    max-width: fit-content;
  }

  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
    color: #000000; /* Changed font color to yellow-green */
    background: #ffffff; /* Changed background color to a darker color */
    font-family: 'Trebuchet MS', monospace; /* Added font family */
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}