.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.header {
  width: auto;
  height: auto;
}

.header p {
  text-align: center;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 59vw;
  border-radius: 0.5rem;
  border: 2px solid #d9d9e3;
  color: #000000; /* Changed font color to yellow-green */
  background: #ffffff; /* Changed background color to a darker color */
  outline: none;
  font-family: "Trebuchet MS", monospace; /* Added font family */
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
}

.textarea::placeholder {
  color: #6b7280;
}

.personalityButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.personalityButton {
  background-color: rgb(64, 24, 222);
  color: white;
  font-weight: bold;
  border: 2px double #000;
  border-radius: 8px;
  border-color: #ffffff;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 4px; /* Add this line to add space between buttons */
}

.personalityButton:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}

.copybutton {
  position: top;
  color: #ffffff;
  background: #000000;
  padding: 1rem;
  border-color: #FFA500;
  font-weight: bold;
  border-radius: 8px;
  border: double;
}

.speakbutton{
  position: right;
  color: #ffffff;
  background: #000000;
  padding: 1rem;
  border-color: #FFA500;
  font-weight: bold;
  border-radius: 8px;
  border: double;
}

.buttoncontainer {
  display: inline-block;
  margin-right: 8px;
}

.voicebutton {
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.generatebutton {
  background-color: #3ea125;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.stopvoicebutton {
  background-color: #ff4500;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
  color: #FFA500; /* Changed font color to yellow-green */
}

.svgicon {
  transform: rotate(90deg);
  width: 2.0em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #e5f810;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.voicebutton:hover {
  background: #e5f810;
  border-radius: 0.2rem;
}

.voicebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage {
  padding: 0rem;
  color: #BADA55; /* Changed font color to yellow-green */
  background: #1E1E1E; /* Changed background color to a darker color */
  font-size: 28px;
}

.usermessagewaiting {
  padding: 0rem;
  color: #BADA55; /* Changed font color to yellow-green */
  background: #1E1E1E; /* Changed background color to a darker color */
  background: linear-gradient(to left, #07080938, #1a1c2024, #07080936);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
  font-family: "Trebuchet MS", monospace; /* Added font family */
  font-size: 28px;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  background: #1E1E1E;
  padding: 0rem;
  color: #e5f810;
  animation: fadein 0.5s;
  white-space: pre-wrap !important;
  font-family: "Trebuchet MS", monospace; /* Added font family */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
  background: #1E1E1E;
}

.markdownanswer {
  line-height: 1.2;
  white-space: pre-wrap !important;
  color: #e5f810;
  background: #1E1E1E;
  animation: fadein 0.5s;
  font-family: "Trebuchet MS", monospace; /* Added font family */
  font-size: 20px;
  font-weight: 300;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.markdownanswer code {
  font-weight: 500;
  white-space: pre-wrap !important;
  color: #BADA55; /* Changed font color to yellow-green */
  background: #1E1E1E; /* Changed background color to a darker color */
  font-family: "Trebuchet MS", monospace; /* Added font family */
  animation: fadein 0.5s;
  font-size: 18px;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.boticon,
.usericon {
  margin-right: 1rem;
  border-radius: 1rem;
  height: 100%;
  color: #FFFFFF;
  background: #FFFFFF;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
}

.cloud {
  width: 59vw;
  height: 80vh;
  background: #1E1E1E; /* Changed background color to a darker color */
  border-radius: 0.5rem;
  border: 1px solid #000004;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.0rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.listening {
  background-color: #4caf50; /* Change to your desired color */
  color: white; /* Change to your desired text color */
}

.footer a:hover {
  opacity: 0.8;
}

/* Mobile optimization */
@media (max-width: 300px) {
  .main {
    padding: 0rem;
  }

  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
    color: #000000; /* Changed font color to yellow-green */
    background: #ffffff; /* Changed background color to a darker color */
    font-family: "Trebuchet MS", monospace; /* Added font family */
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
    color: #e5f810;
    background: #1E1E1E;
    font-family: "Trebuchet MS", monospace; /* Added font family */
  }

  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}
